<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/project-style.css">
    <title>ESP32-S3-Mini 1</title>
</head>
<body>
  <section class="project-section">
    <h2 class="section-title">Customized Esp 32 -S3 - mini 1</h2>

    <ul class="project-points">
      <li>Designed and implemented schematic and PCB layout for ESP32-S3 Mini using Altium Designer.</li>
      <li>Optimized component placement and routing for compact and efficient design.</li>
      <li>Applied DRC/ERC checks to ensure manufacturability, reliability, and signal integrity.</li>
      <li>Integrated proper power management for stable and robust system performance.</li>
    </ul>
    <div class="image-gallery">
      <div class="image-card">
        
        <img src="../layers/" alt="Top Layer of VSDsquadron FPGA">
        <p class="image-label">Top Layer</p>
      </div>
      <div class="image-card">
        <img src="../images/vsd-3d-view.png" alt="3D View of VSDsquadron FPGA">
        <p class="image-label">3D View</p>
      </div>
    </div>

    <h3 class="software-used">Software Used: <span>Altium Designer</span></h3>
  </section>
</body>

</html>